 @font-face{
            font-family: MiFont;
            src: url(./mi-icon-font.ttf);
        }
        .icon{
            font-family: MiFont;
            font-size: 20px;
        }
        .iconfont-cart::before{
            content: "\E60C";
        }
        .iconfont-right-s::before
        {
            content:"\E623";
        }
        .iconfont-tool::before
        {
            content:"\E634";
        }
        .iconfont-seven::before
        {
            content:"\E635";
        }
        .iconfont-fifteen::before
        {
            content:"\E636";
        }
        .iconfont-gift::before
        {
            content:"\E638";
        }
        .iconfont-local::before
        {
            content:"\E637";
        }
        .iconfont-message::before
        {
            content:"\E600";
        }
